/**************************************************************
*                                                             *
*                       ADD PROJECT                           *
*                                                             *
**************************************************************/
.project-task-add {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 11px 0px 11px 40px;
    background-color: #d0d0d0;
    border: 1px solid #aaaaaa;
}

/**************************************************************
*                                                             *
*                           ICON                              *
*                                                             *
**************************************************************/

.project-task-add span {
    width: 6%;
}
.project-task-add span i {
    font-size: 30px;
    line-height: 38px;
    color: #589072;
}

/**************************************************************
*                                                             *
*                          INPUT                              *
*                                                             *
**************************************************************/
.project-task-add input {
    width: 83%;
    padding: 8px 10px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #707070;
    border-right: none;
}
.project-task-add input:hover,
.project-task-add input:active {
    outline: none;
}
/**************************************************************
*                                                             *
*                          BUTTON                             *
*                                                             *
**************************************************************/
.project-task-add span:last-child {
    width: 11%;

}
.project-task-add button {
    width: 83%;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #447557;
    border-radius: 0 2px 2px 0;
    background-color: #6ca384;
}
.project-task-add button:hover,
.project-task-add button:active {
    outline: none;
}