/**************************************************************
*                                                             *
*                     LIST ITEM STYLE                         *
*                                                             *
**************************************************************/
.itemWrapp {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0px 0px 0px 40px;
}
.itemWrapp span {
    padding: 18px 0;
}
/**************************************************************
*                                                             *
*                     CHECK BOX STYLE                         *
*                                                             *
**************************************************************/
.itemWrapp span:first-child {
    width: 5%;
    border-right: 1px solid #efdadf;
}
.end-list-btn {
    transform: scale(2);
    cursor: pointer;
}
/**************************************************************
*                                                             *
*                    ITEMS TEXT SECTION                       *
*                                                             *
**************************************************************/
.itemWrapp span.items-label {
    width: 70%;
    padding: 0 10px;
    font-size: 20px;
    text-align: left;
    color: #999999;
}

.itemWrapp span.items-label.done {
    text-decoration: line-through;
}
/**************************************************************
*                                                             *
*                   ITEMS INPUT SECTION                       *
*                                                             *
**************************************************************/

/** Label **/
.itemWrapp span.cange-label {
    width: 70%;
    display: none;
}

/** Form section **/
.itemWrapp span.cange-label.cange-label-active {
    display: block;
    margin: 0;
    padding: 0;
}
/** Form **/
.cange-label-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/** Input **/
.itemWrapp span.cange-label input {
    
    width: 80%;
    padding: 7px 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 400;
    outline: none;
}
.itemWrapp span.cange-label input:hover,
.itemWrapp span.cange-label input:active {
    outline: none;
}
/** Button **/
.itemWrapp span.cange-label button {
    width: 20%;
    padding: 8px 0;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #fff;
    border: 1px solid #447557;
    border-radius: 0 2px 2px 0;
    background-color: #6ca384;
}
.itemWrapp span.cange-label button:hover,
.itemWrapp span.cange-label button:active {
    outline: none;
}
/** Show input form **/
.itemWrapp span.items-label.items-label-hidden {
    display: none;
}
.cange-label-active {
    display: block;
}
/**************************************************************
*                                                             *
*                   ITEMS BUTTON SECTION                      *
*                                                             *
**************************************************************/
.itemWrapp span.button-item-group {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    border-left: 1px solid #e7ebea;
}
.btn-item-sm {
    position: relative;
    width: 33%;
    padding: 0;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 0;
}
.btn-item-sm:not(:first-child) {
    border-left: 2px solid rgba(0,0,0,0.2);
}
.btn-item-sm:hover i {
    color: rgba(0,0,0,0.8);
    transition: 0.3s;
}
.btn-item-sm i {
    font-size: 20px;
    line-height: 20px;
    color: rgba(0,0,0,0.4);
}
.btn-item-sm i:hover {
    color: rgba(0,0,0,0.8);
    transition: 0.3s;
}