// Colors
$primary-txt-color: color(black-primary-text);

// Common
$font-family: 'Open Sans', sans-serif;
$font-color: $primary-txt-color;
$body-bg: color(body-bg);
$base-font-size: 14px;
$base-line-height: division(20, 14);