// Colors
$primary-txt-color: color(text-color);
$secondary-txt-color: color(secondary-text-color);
$light-txt-color: color(light-text-color);

// Common
$font-family: 'Open Sans', sans-serif;
$font-color: $primary-txt-color;
$body-bg: color(body-bg);
$base-font-size: 14px;
$base-line-height: division(20, 14);

// Shadow
$shadow-lg: 0 8px 20px 0 rgba(color(shadow-color), 0.12);
