/**************************************************************
*                                                             *
*                      PROJECT TITLE                          *
*                                                             *
**************************************************************/
.project-title {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;

    padding: 16px 0 16px 40px ;
    font-size: 19px;
    /* line-height: 19px; */

    color: #fff;
    background-color: #4979b5;
}
.project-title:hover {
    cursor: pointer;
}
.project-title span:last-child {
    opacity: 0;
}
.project-title:hover > span:last-child {
    opacity: 1;
    transition: 0.3s;
}
/**************************************************************
*                                                             *
*                         CALENDART                           *
*                                                             *
**************************************************************/
.project-title span:first-child {
    width: 5%;
    height: 100%;
}
.project-title span:first-child i {
    font-size: 30px;
    line-height: 38px;
    color: rgba(0,0,0,0.5);
}
/**************************************************************
*                                                             *
*                           TITLE                             *
*                                                             *
**************************************************************/
.project-title span:nth-child(2) {
    width: 85%;
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 38px;
    text-align: left;
    color: #fff;
}
/**************************************************************
*                                                             *
*                          BUTTONS                            *
*                                                             *
**************************************************************/
.project-title span:last-child {
    width: 10%;
    text-align: center;
}
.project-title span:last-child button:first-child {
    padding: 0;
}
.project-title span:last-child button:not(:first-child) {
    position: relative;
    padding: 0;
    margin-left: 30px;
}
.project-title span:last-child button:last-child::before {
    content: '';
    clear: both;

    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    height: 20px;

    border-left: 2px solid rgba(255,255,255,0.3);
}
.project-title span:last-child button i {
    font-size: 20px;
    line-height: 38px;
    color: rgba(255,255,255,0.6);
}
.project-title span:last-child button i:hover {
    color: rgba(255,255,255,0.9);
    transition: 0.3s;
}