/**************************************************************
*                                                             *
*                     APP HEADER STYLES                       *
*                                                             *
**************************************************************/
.main-header {
    margin: 60px 0;
    text-align: center;
    text-transform: uppercase;
}
.main-header h1 {
    font-size: 46px;
    font-weight: 700;
}
.main-header h2 {
    font-size: 24px;
    font-weight: 700;
}